In [75]:
import pandas as pd
import numpy as np
import os

In [76]:
df=pd.read_csv("../../flight_data_raw.csv")

In [77]:
df.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,...,CANCELLATION_CODE,DIVERTED,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,V26
0,2018,4,26,4,UA,DTW,EWR,910,1107.0,117.0,...,NaN,0,73.0,488,33.0,0.0,3.0,0.0,84.0,NaN
1,2018,4,26,4,UA,EWR,RDU,1400,1349.0,-11.0,...,NaN,0,74.0,416,NaN,NaN,NaN,NaN,NaN,NaN
2,2018,4,26,4,UA,SFO,EUG,1059,1115.0,16.0,...,NaN,0,61.0,451,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,4,26,4,UA,TPA,IAD,1858,1853.0,-5.0,...,NaN,0,108.0,811,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,4,26,4,UA,SFO,BOS,1630,1625.0,-5.0,...,NaN,0,316.0,2704,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
#count=df.groupby(["ORIGIN","DEST"]).transform(np.size)

pairs=df.groupby(["ORIGIN","DEST"]).aggregate(lambda tdf: dict(zip(tdf.unique().tolist(),tdf)
pairs

#count_list=count.groupby(["ORIGIN"]).apply(list)
#count_list

TypeError: Must provide 'func' or tuples of '(column, aggfunc).

In [83]:
df2 = df[["ORIGIN","DEST"]].groupby('ORIGIN').aggregate(lambda tdf: tdf.unique().tolist())

df2.to_csv("airports_serviced_data.csv")

In [95]:
df2.loc["ATL"]["DEST"]

['SFO',
 'DEN',
 'IAD',
 'EWR',
 'ORD',
 'IAH',
 'LGA',
 'SJC',
 'CVG',
 'SLC',
 'MCO',
 'AUS',
 'ISP',
 'LAS',
 'TTN',
 'PVD',
 'LAX',
 'SJU',
 'SAT',
 'COS',
 'MLI',
 'RST',
 'PHF',
 'ABE',
 'SGF',
 'MOB',
 'SHV',
 'CAE',
 'XNA',
 'AVL',
 'EYW',
 'GPT',
 'OAJ',
 'OMA',
 'LEX',
 'HPN',
 'AGS',
 'CHA',
 'BMI',
 'BTR',
 'GRB',
 'FSM',
 'DCA',
 'FLL',
 'DFW',
 'BOS',
 'CLE',
 'ACY',
 'MSY',
 'MSP',
 'TPA',
 'BWI',
 'PHL',
 'DTW',
 'CLT',
 'MGM',
 'FWA',
 'HSV',
 'LFT',
 'ILM',
 'GTR',
 'SBN',
 'AEX',
 'PIA',
 'MLU',
 'ROA',
 'DHN',
 'CHO',
 'CRW',
 'TRI',
 'TYS',
 'TUL',
 'CID',
 'LNK',
 'ASE',
 'ATW',
 'CMH',
 'DAL',
 'GSP',
 'HOU',
 'IND',
 'JAX',
 'MCI',
 'MDW',
 'MKE',
 'OAK',
 'PBI',
 'PHX',
 'PIT',
 'RDU',
 'RIC',
 'RSW',
 'SAN',
 'STL',
 'MIA',
 'SEA',
 'MEM',
 'BHM',
 'JFK',
 'MLB',
 'STT',
 'GSO',
 'CHS',
 'JAN',
 'GRR',
 'VPS',
 'AVP',
 'HNL',
 'PDX',
 'DAB',
 'BDL',
 'BNA',
 'OKC',
 'SAV',
 'ROC',
 'BUF',
 'DAY',
 'LIT',
 'CAK',
 'ABQ',
 'BZN',
 'SDF',
 'PNS',
 'MSN',
 'MDT',
 'TUS',
 'FSD',
 'ORF',
 'SNA',
 'SRQ',
 'MHT',
 'TLH',
 'ECP',
 'MYR',
 'ALB',
 'DSM',
 'HDN',
 'FNT',
 'SMF',
 'SYR',
 'ELP',
 'PWM',
 'JAC',
 'ICT',
 'EVV',
 'FAY',
 'GNV',
 'BTV',
 'EGE',
 'STX',
 'VLD',
 'CSG',
 'BQK',
 'ABY',
 'EWN',
 'TVC',
 'ANC',
 'FCA',
 'MSO',
 'RAP',
 'MTJ',
 'PSP',
 'RNO',
 'FAR',
 'ELM',
 'GRK']