In [1]:
import pandas as pd

pd.options.display.max_columns = None

df = pd.read_csv("../app/data/flight_data_raw.csv")

In [34]:
outgoing_flights = df.groupby(["ORIGIN"]).size()
outgoing_flights = outgoing_flights.to_frame().reset_index()
outgoing_flights = outgoing_flights.rename(columns={0: "num_of_flights"})
outgoing_flights

    ORIGIN  num_of_flights
0      ABE            4168
1      ABI            2022
2      ABQ           24047
3      ABR             745
4      ABY            1018
..     ...             ...
353    WYS             239
354    XNA           12571
355    YAK             722
356    YNG               2
357    YUM            1376

[358 rows x 2 columns]

In [35]:
number_of_connections = df.groupby("ORIGIN").agg({"DEST": "nunique"})
number_of_connections = number_of_connections.reset_index()
number_of_connections = number_of_connections.rename(columns={"DEST": "num_of_connections"})

In [38]:
merged_df = pd.merge(number_of_connections, outgoing_flights)
merged_df

    ORIGIN  num_of_connections  num_of_flights
0      ABE                  11            4168
1      ABI                   1            2022
2      ABQ                  26           24047
3      ABR                   1             745
4      ABY                   1            1018
..     ...                 ...             ...
353    WYS                   1             239
354    XNA                  17           12571
355    YAK                   2             722
356    YNG                   2               2
357    YUM                   1            1376

[358 rows x 3 columns]

In [54]:
airport_data = pd.read_csv("../app/data/airports_2018.csv")
airport_data_merged = pd.merge(airport_data, merged_df, left_on="iata", right_on="ORIGIN")
airport_data_merged = airport_data_merged.drop(['Unnamed: 0', "ORIGIN"], axis=1)

airport_data_merged.to_csv('airports_2018_v1.csv', index=False)