In [1]:
import pandas as pd

pd.options.display.max_columns = None

df = pd.read_csv("../app/data/flight_data_raw.csv")

In [2]:
outgoing_flights = df.groupby(["ORIGIN"]).size()
outgoing_flights = outgoing_flights.to_frame().reset_index()
outgoing_flights = outgoing_flights.rename(columns={0: "num_of_flights"})
outgoing_flights

    ORIGIN  num_of_flights
0      ABE            4168
1      ABI            2022
2      ABQ           24047
3      ABR             745
4      ABY            1018
..     ...             ...
353    WYS             239
354    XNA           12571
355    YAK             722
356    YNG               2
357    YUM            1376

[358 rows x 2 columns]

In [3]:
number_of_connections = df.groupby("ORIGIN").agg({"DEST": "nunique"})
number_of_connections = number_of_connections.reset_index()
number_of_connections = number_of_connections.rename(columns={"DEST": "num_of_connections"})

In [4]:
number_cancelled = df.groupby("ORIGIN")["CANCELLED"].sum().astype(int)
cancel_merge = pd.merge(number_cancelled, outgoing_flights, left_on="ORIGIN", right_on="ORIGIN")

In [5]:
merged_df = pd.merge(number_of_connections, cancel_merge)
merged_df

    ORIGIN  num_of_connections  CANCELLED  num_of_flights
0      ABE                  11         87            4168
1      ABI                   1         41            2022
2      ABQ                  26        238           24047
3      ABR                   1          8             745
4      ABY                   1         11            1018
..     ...                 ...        ...             ...
353    WYS                   1          0             239
354    XNA                  17        248           12571
355    YAK                   2         10             722
356    YNG                   2          0               2
357    YUM                   1          0            1376

[358 rows x 4 columns]

In [8]:
airport_data = pd.read_csv("../app/data/airports_2018.csv")
airport_data_merged = pd.merge(airport_data, merged_df, left_on="iata", right_on="ORIGIN")
airport_data_merged = airport_data_merged.drop(['Unnamed: 0', "ORIGIN"], axis=1)
print(airport_data_merged.columns)
airport_data_merged.to_csv('airports_2018_v1.csv', index=False)

Index(['iata', 'name', 'city', 'state', 'country', 'latitude', 'longitude',
       'num_of_connections', 'CANCELLED', 'num_of_flights'],
      dtype='object')