In [14]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib as mpl
pd.options.display.max_columns = None

ModuleNotFoundError: No module named 'seaborn'

In [4]:
df=pd.read_csv("../../flight_data_raw.csv")

In [5]:
df.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DEL15,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,CANCELLED,CANCELLATION_CODE,DIVERTED,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,V26
0,2018,4,26,4,UA,DTW,EWR,910,1107.0,117.0,1.0,1053,1253.0,120.0,1.0,0,NaN,0,73.0,488,33.0,0.0,3.0,0.0,84.0,NaN
1,2018,4,26,4,UA,EWR,RDU,1400,1349.0,-11.0,0.0,1541,1521.0,-20.0,0.0,0,NaN,0,74.0,416,NaN,NaN,NaN,NaN,NaN,NaN
2,2018,4,26,4,UA,SFO,EUG,1059,1115.0,16.0,1.0,1232,1242.0,10.0,0.0,0,NaN,0,61.0,451,NaN,NaN,NaN,NaN,NaN,NaN
3,2018,4,26,4,UA,TPA,IAD,1858,1853.0,-5.0,0.0,2111,2058.0,-13.0,0.0,0,NaN,0,108.0,811,NaN,NaN,NaN,NaN,NaN,NaN
4,2018,4,26,4,UA,SFO,BOS,1630,1625.0,-5.0,0.0,118,114.0,-4.0,0.0,0,NaN,0,316.0,2704,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.groupby()